@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Starter Configuration */

:root {
  --main-color: #101010;
  --box-color: ;
}

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.45)),
    url("../img/bg-img1.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.title {
  font-size: 8rem;
  font-family: "Staatliches";
  letter-spacing: 2rem;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
