@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

/* Variable */
:root {
  --main-color: #101010;
  --font-color: #fff;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Configuration */
.container {
  max-width: 960px;
  margin: auto;
}

body {
  font-family: "Staatliches";
  color: var(--font-color);
  background: var(--main-color);
}

section {
  padding: 3rem 0 2rem;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 1.5rem 0;
}
.logo {
  color: var(--font-color);
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}
.navbar {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar .nav-link {
  font-size: 1.3rem;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
  text-align: center;
  align-items: center;
}
.navbar .nav-link:hover {
  background: #c36100;
  transition: 0.3s all linear;
}
.navbar .nav-link a {
  color: var(--font-color);
}

/* About */
.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../img/bg-img1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -3rem;
}
